    
    form{

        display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    input{
        padding: 10px 5px;
    }
    button{
        padding: 20px 10px;
    }
    }
section#addpage{
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}